/* Offers.css */

/* Center the heading */
p {
  text-align: center;
}
.title{
  text-align: center;
  margin-top: 50px;
}

.offer-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.offer-item {
  width: calc(33.33% - 20px); /* Adjust as needed */
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.offer-item img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.offer-details h3 {
  color: #333;
  margin-bottom: 5px;
}

.offer-details p {
  color: #666;
  margin-bottom: 10px;
}

.discount {
  font-weight: bold;
  color: #007bff;
}
