.order-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #CDAB7A;
  ;
}

.order-page h2 {
  text-align: center;
  color: #333; 
  margin-bottom: 20px;
}

.order-page table {
  width: 100%;
  border-collapse: collapse;
}

.order-page th,
.order-page td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

.order-page th {
  background-color: #CDAB7A;
  ;
}

.order-page tbody tr:hover {
  background-color: #fafafa;
}

.order-page ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.order-page ul li {
  margin-bottom: 5px;
}

.order-page button.view-details-button {
  background-color: #089c1b; 
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.order-page button.view-details-button:hover {
  background-color: #0056b3; 
}

.order-page button.view-details-button:focus {
  outline: none;
}

.order-page .message {
  text-align: center;
  color: #888;
  font-style: italic;
  margin-top: 20px;
}