/* Form container */
.payment-form {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #CDAB7A;
}

.payment-information {
  text-align: center;
}

/* Form header */
.form-header {
  text-align: center;
  margin-bottom: 20px;
}

/* Form input fields */
.payment-form input[type="text"],
.payment-form input[type="email"],
.payment-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Form submit button */
.payment-form button {
  padding: 10px 20px;
  background-color: #402220;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.payment-form button:hover {
  background-color: #845745;
}
