.registration-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #CDAB7A;
}

.registration-container h2 {
  text-align: center;
}

.registration-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.registration-form label {
  display: block;
  margin-bottom: 5px;
}

.registration-form input, .registration-form textarea  {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.registration-form button {
  background-color: #402220;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  align-self: flex-end;
}

.registration-form button:hover {
  background-color: #CD924A;
}

.registration-heading {
  text-align: center;
}



/* .registration-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #CDAB7A;
  }
  
  .registration-container h2 {
    text-align: center;
  }
  
  .registration-form {
    margin-top: 20px;
  }
  
  .registration-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .registration-form input,.registration-form textarea  {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .registration-form button {
    background-color: #402220;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .registration-form button:hover {
    background-color: #CD924A;
  }

  .registration-heading {
    text-align: center;
  } */